	<div class = "content">
		<div class = "block_of_text">
			<h1>
				Хотите научиться создавать коммерческие приложения для iPhone?
			</h1>
			
			<%= image_tag("arrow.png", :class => "arrow")%>
			
			<h3>
				Мы учим создавать приложения для iPhone, iPad, iPod Touch.
				Это на самом деле просто!
			</h3>
			
		</div>
		
		<div class = "ipad">
			<div class = "video_container">
				<%= video_tag "01_01.mp4", :size => "360x270", :controls => true %>													
		</div>
			</div>
		
		<div class = "call_to_action">			
			<%= image_tag("button.png", :class => "button")%>
		</div>
		<div class = "dots">
		</div>
		
		
		<ul class = "features">
			<li class = "first_icon">
				<div class = "icon_text">
					<p> 
						Какой-то текст над иконкой
					</p>
				</div>
				<div class = "icon">
					<%= image_tag("guitar.png")%>
				</div>
			</li>
			
			<li class = "first_icon">
				<div class = "icon_text">
					<p> 
						Какой-то текст над иконкой
					</p>
				</div>
				<div class = "icon">
					<%= image_tag("instruments.png")%>
				</div>
			</li>
			
			<li class = "first_icon">
				<div class = "icon_text">
					<p> 
						Какой-то текст над иконкой
					</p>
				</div>
				<div class = "icon">
					<%= image_tag("darts.png")%>
				</div>
			</li>
		</ul>
		
	</div> <!-- Конец блока Content> -->

