<!DOCTYPE html>
<html lang="ru-RU">
<head>
  <title>BesimpleApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= image_tag("flash.png", :class => "flash-point")%>

<div class = "wrapper"> 

	<div class = "main">
		<div class = "header">
			<div class = "logo"> <!-- Logo -->
				<h1> beSimple </h1>
				<%= image_tag("Logo_red.png", :class => "logo_icon")%>
			</div>

			<ul class = "nav">
					<li>
						 <%= link_to('О нас') %>
					</li>
					<li>
						 <%= link_to('Подписка') %>
					</li>
					<li>
						 <%= link_to('Блог') %>
					</li>
					<li>
						 <%= link_to('Уроки') %>
					</li>
					<li>
						 <%= link_to('Войти') %>
					</li>
			</ul>
		</div> <!-- Конец блока Header> -->

<%= yield %>

	</div> <!-- Конец блока Main> -->
	<div class = "footer">

		<hr align="center" width="870" size="1" color="#929498" />

		<div class = "social">
			<%= image_tag("Facebook.png", :class => "")%>
					<%= image_tag("Twitter.png", :class => "")%>
		</div>

		<div class = "contacts">
			<div class = "call_write">
				<h3> Звоните: 8-800-800-8080 </h3>
			</div>
			<div class = "call_write">
				<h3> Пишите: info@besimple.ru </h3>
			</div>
			
		</div>

		<div class = "bottom_logo">
			<%= image_tag("Logo_red.png", :class => "logo_small")%>
		</div>


	</div> <!-- Конец блока Footer> -->
	
</div> <!-- Конец блока Wrapper> -->
	





</body>
</html>
